{% extends '@Event/Default/base.html.twig' %}
{% block body %}

    <br><h1>Products from database</h1><br>

    <a class="button center" href="{{ path('event_homepage') }}">Back</a>
    <a class="button center" href="{{ path('product_create') }}">Add product</a><br><br>

    {% for key in products_dataInfo %}
        <div>
            ID - <strong>{{ key.id }}</strong> |
            Product name - <strong>{{ key.productName }}</strong> |
            Product price - <strong>{{ key.productPrice }}</strong> |
            Product description - <strong>{{ key.productDes }}</strong> |
            Product registration time - <strong>{{ key.productRegTime|date('d-m-Y') }}</strong>
        </div>
    {% endfor %}

{% endblock %}