{% extends '@Event/Default/base.html.twig' %}
{% block body %}

    <br><h1>Add product</h1><br>

    <a class="button center" href="{{ path('event_homepage') }}">Back</a>
    <a class="button center" href="{{ path('product_info') }}">Database with products</a><br><br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Add</button>
    {{ form_end(form) }}

{% endblock %}